.container {
  width: 90%;
  background: #fff;
  height: auto;
  margin: 20px;
  box-shadow: 0px 0px 3px 1px rgb(218, 218, 218);
  border-radius: 10px;
}

.title-container {
  background: rgb(55, 59, 66);
  color: #fff;
  padding: 10px 40px;
  font-size: 1.3rem;
  // border-radius: 10px 10px 0 0;
  border-radius: 10px;
  min-width: 100%;
  box-shadow: 0px 0px 2px 1px rgb(172, 172, 172);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    width: 80%;
    height: 100%;
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.3s ease;
  height: auto;
  overflow: hidden;

  * {
    flex: 1 1 160px;
  }
}

.btn-resize {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 30px;
  border: 1px solid rgb(212, 212, 212);
  font-weight: bold;

  &:focus {
    outline: none;
    box-shadow: 0 0 0pt 1px rgb(117, 231, 247);
  }
}

.more {
  background: rgb(49, 202, 19);
}

.less {
  background: rgb(196, 31, 31);
}

.opened {
  .content-container {
    padding: 10px;
  }

  .card {
    display: inline-block;
    opacity: 1;
  }
  .note {
    display: block;
    opacity: 1;
  }
}

.closed {
  .content-container {
    padding: 0px;
  }
  .card {
    display: none;
    opacity: 0;
  }
  .note {
    display: none;
    opacity: 0;
  }
}
