@media (max-width: 600px) {
  .title-container {
    h2 {
      font-size: 1.4rem;
    }
  }
  .header-title {
    font-size: 1.8rem;
  }

  .header-link {
    font-size: 1rem;
  }

  .btn {
    transform: scale(0.85);
  }

  .form {
    span {
      font-size: 1rem;
    }
  }

  .card {
    height: 110px;
    width: 100px;

    &-content {
      font-size: 1.5rem;
    }

    &-title {
      font-size: 1.2rem;
    }
  }

  .svg-header {
    height: 25px;
    width: 25px;
  }

  .footer-info {
    font-size: 0.9rem;
  }

  .footer-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 470px) {
  .svg-header {
    height: 20px;
    width: 20px;
  }

  .title-container {
    h2 {
      font-size: 1.1rem;
    }
  }

  .card-title {
    font-size: 1rem;
  }

  .note {
    font-size: 1rem;

    span {
      font-size: 1.2rem;
    }
  }
  .btn-resize {
    transform: scale(0.9);
  }

  .btn {
    transform: scale(0.8);
  }

  .header-title {
    font-size: 1.2rem;
  }
}
